<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wo.mapper.PartnerParaMapper" >
  <resultMap id="BaseResultMap" type="com.wo.model.PartnerPara" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="partnername" property="partnername" jdbcType="VARCHAR" />
    <result column="describ" property="describ" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="pchceck" property="pchceck" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="lastloginymd" property="lastloginymd" jdbcType="INTEGER" />
    <result column="loginfailtimes" property="loginfailtimes" jdbcType="TINYINT" />
    <result column="lockflag" property="lockflag" jdbcType="TINYINT" />
  </resultMap>
	<sql id="Base_Column_List">
		id, partnername, describ, passwd, pchceck, mobile, lastloginymd,
		loginfailtimes, lockflag
  </sql>
  <select id="getPartnerPara" resultMap="BaseResultMap" parameterType="java.lang.String">
	select	<include refid="Base_Column_List" />
	from partnerpara
	where partnername = #{partnername,jdbcType=VARCHAR}
</select>

<select id="listChargeRecord" resultType="map">
	select p.id,p.describ,pc.username,pc.password ,p.partnername,p.passwd
	from partner_config	pc,partnerpara p
	where p.id = pc.partner_id 
</select>



 </mapper>