<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wo.mapper.PartnerConfigMapper" >
  <resultMap id="BaseResultMap" type="com.wo.model.PartnerConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="partner_id" property="partnerId" jdbcType="INTEGER" />
    <result column="use_flag" property="useFlag" jdbcType="TINYINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="carowner_id" property="carownerId" jdbcType="INTEGER" />
    <result column="login_url" property="loginUrl" jdbcType="VARCHAR" />
    <result column="charge_start_url" property="chargeStartUrl" jdbcType="VARCHAR" />
    <result column="charge_over_url" property="chargeOverUrl" jdbcType="VARCHAR" />
    <result column="charge_dc_info_url" property="DCChargeInfoUrl" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  id, partner_id, use_flag, username, password, carowner_id, token, login_url, charge_start_url, 
    charge_over_url,charge_dc_info_url
  </sql>
  
  <select id="getPartnerConfig" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from partner_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="listPartnerConfig" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from partner_config
    where 1=1 
   <if test="useFlag != null and useFlag != -1">
      and use_flag = #{useFlag,jdbcType=TINYINT}
   </if>  
   <if test="operatorId != null">
     and operator = #{operatorId,jdbcType=INTEGER}
   </if>
  </select>
  
  
   <select id="listPartnerConfigArchive" resultType="map" parameterType="map" >
	select pc.id, partner_id, 
	CASE when pc.use_flag = 1 then '是' ELSE '否' END use_flag,
	username, password, c.loginname carowner_id, 
	token, login_url, charge_start_url, charge_over_url,charge_dc_info_url,p.describ
	from partner_config pc,partnerpara p  ,carowner c
	where pc.partner_id = p.id and pc.carowner_id = c.id 
     <if test="useFlag != null and useFlag != -1">
       and use_flag = #{useFlag,jdbcType=TINYINT}
     </if>  
     <if test="partnerId != null">
       and partner_id = #{partnerId,jdbcType=INTEGER}
     </if>
  </select>
  
  <delete id="deletePartnerConfig" parameterType="java.lang.Integer" >
    delete from partner_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertPartnerConfig" parameterType="com.wo.model.PartnerConfig" >
    insert into partner_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="partnerId != null" >
        partner_id,
      </if>
      <if test="useFlag != null" >
        use_flag,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="carownerId != null" >
        carowner_id,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="loginUrl != null" >
        login_url,
      </if>
      <if test="chargeStartUrl != null" >
        charge_start_url,
      </if>
      <if test="chargeOverUrl != null" >
        charge_over_url,
      </if>
      <if test="DCChargeInfoUrl != null" >
        charge_dc_info_url,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null" >
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="useFlag != null" >
        #{useFlag,jdbcType=TINYINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="carownerId != null" >
        #{carownerId,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null" >
        #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="chargeStartUrl != null" >
        #{chargeStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="chargeOverUrl != null" >
        #{chargeOverUrl,jdbcType=VARCHAR},
      </if>
      <if test="DCChargeInfoUrl != null" >
        #{DCChargeInfoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updatePartnerConfig" parameterType="com.wo.model.PartnerConfig" >
    update partner_config
    <set >
      <if test="partnerId != null" >
        partner_id = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="useFlag != null" >
        use_flag = #{useFlag,jdbcType=TINYINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="carownerId != null" >
        carowner_id = #{carownerId,jdbcType=INTEGER},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null" >
        login_url = #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="chargeStartUrl != null" >
        charge_start_url = #{chargeStartUrl,jdbcType=VARCHAR},
      </if>
      <if test="chargeOverUrl != null" >
        charge_over_url = #{chargeOverUrl,jdbcType=VARCHAR},
      </if>
       <if test="DCChargeInfoUrl != null" >
        charge_dc_info_url = #{DCChargeInfoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="listPartner" resultType="map">
    SELECT id,describ from partnerpara
  </select>
  
  <select id="isExistCarowner" parameterType="Integer" resultType="boolean"> 
        SELECT count('X') from carowner where id = #{carownerId,jdbcType=INTEGER}
  </select>
  
  
</mapper>