<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wo.mapper.StationMapper">

<resultMap id="BaseResultMap" type="com.wo.model.Station" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="describ" property="describ" jdbcType="VARCHAR" />
    <result column="yys_id" property="yysId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="county" property="county" jdbcType="INTEGER" />
    <result column="busi_model" property="busiModel" jdbcType="TINYINT" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="service_fee" property="serviceFee" jdbcType="VARCHAR" />
    <result column="charging_fee" property="chargingFee" jdbcType="VARCHAR" />
    <result column="salestime" property="salestime" jdbcType="VARCHAR" />
    <result column="fz_man" property="fzMan" jdbcType="VARCHAR" />
    <result column="telno1" property="telno1" jdbcType="VARCHAR" />
    <result column="telno2" property="telno2" jdbcType="VARCHAR" />
    <result column="power_type" property="powerType" jdbcType="TINYINT" />
    <result column="volt_grade" property="voltGrade" jdbcType="TINYINT" />
    <result column="station_no" property="stationNo" jdbcType="VARCHAR" />    
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
  </resultMap>
  
   <select id="listStationGPS" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	    select distinct s.* from partnerpara p ,pileyys y,station s,
	    pilepara pile,partnerrrankbound pr
	    where p.id = pr.partner_id and y.id = pr.pileyys_id
	    and s.yys_id = y.id and pile.station_id = s.id 
	    and p.id = #{partnerId,jdbcType=INTEGER}
   </select>
    
   <select id="listChargeOrders" parameterType="map" resultType="map">
   		<foreach collection="monthList" item="month" index="index" open="" close="" separator=" union all ">
   			SELECT wasteno ,trade_bymd,trade_bhms,trade_eymd,trade_ehms,end_bd - start_bd chargedl,
   			pile_code pileNo,mp_id gunNo,trade_money, cardno
			from cpdata.chargercd${month} d,station s
			where d.station_id = s.id and s.station_no = #{stationNo,jdbcType=VARCHAR}
			<![CDATA[
				and trade_eymd >= #{startDate,jdbcType=INTEGER}  
				and trade_eymd <= #{endDate,jdbcType=INTEGER} 
			]]>
   		</foreach>
   </select>
    
    
</mapper>