<?xml version="1.0" encoding="UTF-8"?>
<web_cfg>
	<cacheTimeOut timeout="2400" />				<!-- 缓存过期时间(小时)  默认2小时-->
	<!-- c++ webservice IP地址和端口号-->
	<web_service_addr ip="127.0.0.1" port="17206" />
	<session timeout="30" />				<!-- 登录过期时间(分钟) -->

    <prefix value="99"/>
    <prefix value="98"/>
    
</web_cfg>
