<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ke.mapper.PileMapper">

 <resultMap id="BaseResultMap" type="com.ke.model.Pilepara" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subst_id" property="substId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="use_flag" property="useFlag" jdbcType="TINYINT" />
    <result column="serial_code" property="serialCode" jdbcType="VARCHAR" />
    <result column="rtu_id" property="rtuId" jdbcType="INTEGER" />
    <result column="pileaddr" property="pileaddr" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="gun_num" property="gunNum" jdbcType="TINYINT" />
    <result column="bike_gun_num" property="bikeGunNum" jdbcType="TINYINT" />
    <result column="cp_flag" property="cpFlag" jdbcType="TINYINT" />
    <result column="gun_flag" property="gunFlag" jdbcType="TINYINT" />
    <result column="factory_id" property="factoryId" jdbcType="INTEGER" />
    <result column="rate_id" property="rateId" jdbcType="INTEGER" />
    <result column="rateperiod_id" property="rateperiodId" jdbcType="INTEGER" />
    <result column="limit_p" property="limitP" jdbcType="REAL" />
    <result column="rv" property="rv" jdbcType="INTEGER" />
    <result column="ri" property="ri" jdbcType="REAL" />
    <result column="wiring_mode" property="wiringMode" jdbcType="TINYINT" />
    <result column="v_up" property="vUp" jdbcType="INTEGER" />
    <result column="v_down" property="vDown" jdbcType="INTEGER" />
    <result column="run_date" property="runDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="pile_idx" property="pileIdx" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subst_id, name, use_flag, serial_code, rtu_id, pileaddr, image_url, type, gun_num, 
    bike_gun_num, cp_flag, gun_flag, factory_id, rate_id, rateperiod_id, limit_p, rv, 
    ri, wiring_mode, v_up, v_down, run_date, create_date, update_date, pile_idx
  </sql>
  
   <select id="listPileByOperatorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	    select p.* from substpara s ,pilepara p
		where s.id = p.subst_id 
		and s.operator_id in (select id from operator 
		where tree_path like CONCAT('%',#{operatorId},'%') or id =#{operatorId}
		)
    </select>
    
    <select id="getOperatorIdByPileNo" parameterType="java.lang.String"	resultType="java.lang.Integer">
		select o.id from operator o,substpara s,pilepara p
		where p.subst_id = s.id and
		s.operator_id = o.id
		and p.serial_code = #{pileNo,jdbcType=VARCHAR}
	</select>
  
  
    <select id="getPileState" parameterType="java.lang.String" resultType="map">
	    SELECT p.id pileId,pd.`status` pileState,gd.gun_id gunId,
		gd.`status` gunState,p.gun_num gunNum,p.cp_flag cpFlag,p.serial_code pileNo
		from piledata pd,pilegun_data gd ,pilepara p 
		where  pd.subst_id = gd.subst_id and pd.pile_id = gd.pile_id
		and gd.subst_id = p.subst_id and gd.pile_id = p.id
		and p.serial_code = #{pileNo,jdbcType=VARCHAR}
    </select>

	<select id="getPileGps" parameterType="java.lang.String" resultType="map">
		SELECT s.id ,s.longitude,s.latitude
		from pilepara p,substpara s
		where p.subst_id = s.id and p.serial_code = #{pileNo,jdbcType=VARCHAR}
	</select>
    
    <select id="getPileRate" parameterType="java.lang.String" resultType="map">
       select fee_type RateType,rated_z rateZ,ratef_j SharpRate,ratef_f PeakRate,ratef_p FlatRate,
		ratef_g ValleyRate,rate_service ServiceCharge,rate_servicej SharpService,rate_servicef PeakService,
		rate_servicep FlatService,rate_serviceg ValleyService    
		from pilepara p,operator_rate r
		where p.rate_id = r.id and p.serial_code = #{pileNo,jdbcType=VARCHAR}
    </select>
    
    <select id="getRtuByPile" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT rtu_id from pilepara p where p.serial_code = #{pileNo,jdbcType=VARCHAR}
    </select>
    
    <select id="isPileOfOperator" parameterType="map" resultType="boolean">
	    select count('x') from substpara s ,pilepara p
		where s.id = p.subst_id and p.serial_code = #{pileNo,jdbcType=VARCHAR}
		and s.operator_id in (select id from operator 
		where tree_path like CONCAT('%',#{operatorId},'%') or id =#{operatorId}
		)
    </select>
    
    
    <select id="listPileInfo" parameterType="string" resultType="map">
		select p.serial_code pileNo,p.type pileType,(p.gun_num+p.bike_gun_num) gunNum,s.longitude,
		s.latitude,p.rv ratedOutputVoltage,p.ri ratedOutputCurrent,p.limit_p ratedOutputPower
		FROM pilepara p,substpara s
		where p.subst_id = s.id  and s.serial_code = #{stationNo,jdbcType=VARCHAR}
	</select>
    
    <select id="listGunInfo" parameterType="string" resultType="map">
		select p.serial_code pileNo,g.gun_id gunId,p.ri ratedOutputCurrent,p.v_up voltageMax,p.v_down voltageMin
		from pilegun_data g,pilepara p,substpara s
		where p.subst_id = s.id  and g.subst_id = p.subst_id and g.pile_id = p.id 
		and s.serial_code = #{stationNo,jdbcType=VARCHAR}
	</select>
    
    <select id="listGunState" parameterType="string" resultType="map">
		select p.serial_code pileNo,g.gun_id gunId,g.status 
		from pilegun_data g,pilepara p,substpara s
		where p.subst_id = s.id  and g.subst_id = p.subst_id and g.pile_id = p.id 
		and s.serial_code = #{stationNo,jdbcType=VARCHAR}
	</select>
  
</mapper>